@using System.Data;
@model JobManagementSystemAdmin.Areas.Industry.Models.IndustryListResponse;

@{
    Layout = "_Layout";
}

<div class="main-panel">


    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                INDUSTRY
                            </tr>
                            <tr>
                                <td><a asp-area="Industry" asp-controller="Industry" asp-action="Insert" class="btn btn-outline-primary">Add Industry</a></td>
                            </tr>
                            <tr>
                                <td>USER</td>
                                <th> @Html.DisplayName("Industry Type") </th>
                               


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model.data)
                            {
                                <tr>
                                    <td class="py-1">
                                        <img src="~/images/faces-clipart/pic-1.png" alt="image" />
                                    </td>

                                    <td>@row.industryType  </td>

                                    <td>
                                        @using (Html.BeginForm("DeleteIndustry", "Industry", FormMethod.Post))
                                        {
                                        <td>@Html.Hidden("ID",row.industryID)</td>
                                        <td><button class="btn btn-outline-danger">Delete</button></td>

                                        }
                                    </td>
                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
