@using System.Data;
@model JobManagementSystemAdmin.Areas.Industry.Models.Industryall;

@{
    Layout = "_Layout";
}
@using (Html.BeginForm("Insert", "Industry", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Industry</h4>

                    <div>@Html.HiddenFor(model=>model.industryID)</div>
                    <div>@Html.LabelFor(model=>model.industryType)</div>
                    <div>@Html.TextBoxFor(model=>model.industryType,new { @class = "form-control text-light" })</div>
                    

                    <div>
                        <button type="submit" class="btn btn-outline-primary mr-2 mt-2">Submit</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
}